$dourado:#CEA556;
$amareloNew:#ffc000;
$preto:#333333;
$preto-claro-1:#828282;
$preto-claro-2:#4F4F4F;
$preto-claro-3:#BDBDBD;
$preto-bg:#121212;
$branco-cinza:#F2F2F2;
$branco-cinza-2:#a3a9b6;

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}